/* CSS for category.html */

.container select {
  margin-bottom: 10px;
}

.container input[type="submit"] {
  margin-left: 5px;
}

.container .row {
  margin-top: 0px;
}

.container .card {
  margin-bottom: 0px;
}


.container .card-title {
  font-weight: bold;
}

.container .card-text {
  margin-bottom: 10px;
}

.container .btn-primary {
  margin-top: 0px;
}

.container p {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* End of CSS for category.html */

/* CSS for create.html */

.container .col-12 h5 {
  margin-bottom: 20px;
}

.container .form-group {
  margin-bottom: 0px;
}

.container .logo-img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.container .float-left {
  margin-top: 10px;
}

.container .float-right {
  margin-top: 10px;
}

.container .form-check-label {
  margin-right: 10px;
}

/* End of CSS for create.html */

/* CSS for index.html */

.container-cruiser {
  display: flex;
}

.child {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.move:hover {
  animation-name: move;
    animation-timing-function: ease;
}

@keyframes move {
  0%   { transform: translateY(0); }
  50%  { transform: translateX(500px); 
}
  100% { transform: translateX(0); }
}

.container .form-group.row {
  margin-bottom: 0;
}

.container .form-control {
  margin-bottom: 10px;
}

.container .form-select {
  margin-bottom: 10px;
}

.container .input-group {
  margin-bottom: 10px;
}

.container .btn-primary {
  margin-left: 10px;
  margin-bottom: 10px;
}

.container .row .card {
  margin-bottom: 0px;
}

.container .row .card-header {
  margin-bottom: 0px;
}

.container .listing-current-bid {
  font-weight: bold;
}

/* End of CSS for index.html */

/* CSS for listing_page.html */

.container .jumbotron {
  background-color: #EEEEEE;
  padding: 20px;
}

.container .jumbotron .alert-success {
  margin-bottom: 20px;
}

.container .jumbotron .container {
  padding-left: 0;
  padding-right: 0;
}

.container .jumbotron .listing-title {
  margin-bottom: 30px;
}

.container .jumbotron .col-md-12 {
  margin-bottom: 20px;
}

.container .jumbotron .listing-container {
  display: flex;
  align-items: center;
}

.container .jumbotron .listing-content {
  flex: 1;
  margin-right: 10px;
}

.container .jumbotron .listing-info {
  flex: 1;
}

.container .jumbotron .listing-info span.badge {
  margin-right: 5px;
}

.container .jumbotron .listing-info br {
  margin-bottom: 10px;
}

.container .jumbotron .listing-info p {
  margin-bottom: 10px;
}

.container .jumbotron .listing-info .btn {
  margin-top: 10px;
}



.container .comment-form {
  margin-top: 5px;
}

.container .comment-form .form-group {
  margin-bottom: 5px;
}

.container .comment-form textarea {
  height: 100px;
}

.container .comment-form .submit-btn {
  margin-top: 5px;
}

/* End of CSS for listing_page.html */

/* CSS for login.html */

.container .col-12 h5 {
  margin-bottom: 20px;
}

.container .form-group {
  margin-bottom: 20px;
}

.container .form-group.row {
  margin-bottom: 0;
}

.container .form-control {
  margin-bottom: 10px;
}

.container .form-check {
  margin-bottom: 10px;
}

.container .form-check-label {
  margin-right: 10px;
}

.container .btn-primary {
  margin-top: 10px;
}

.container .text-center {
  margin-top: 20px;
}

/* End of CSS for login.html */
/* CSS for listing_page.html */

/* Container Styles */
.container {
  max-width: 1900px !important;
}

.jumbotron {
  background-color: #EEEEEE;
  padding: 20px;
}

.jumbotron .alert-success {
  margin-bottom: 20px;
}

.jumbotron .container {
  padding-left: 0;
  padding-right: 0;
}

.jumbotron .listing-title {
  margin-bottom: 30px;
}

.jumbotron .col-md-12 {
  margin-bottom: 20px;
}

.jumbotron .listing-container {
  display: flex;
  align-items: center;
}

.jumbotron .listing-content {
  flex: 1;
  margin-right: 10px;
}

.jumbotron .listing-info {
  flex: 1;
}

.jumbotron .listing-info span.badge {
  margin-right: 5px;
}

.jumbotron .listing-info br {
  margin-bottom: 10px;
}

.jumbotron .listing-info p {
  margin-bottom: 10px;
}

.jumbotron .listing-info .btn {
  margin-top: 10px;
}

.comment-container1 {
  margin-top: 0rem;
}

.comment-container2 {
  margin-top: 0rem;
}

.card-body2 {
  padding: 0.75rem;
}

.card-text1 {
  margin-bottom: 0;
}

.card-subtitle {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.listing-container {
  display: flex;
  flex-direction: row;
}

.listing-content {
  flex: 1;
}

.listing-info {
  flex: 1;
}

.listing-img {
  max-width: 100%;
  height: auto;
}

.listing-info p {
  margin-bottom: 0.5rem;
}

.new-bid-form {
  margin-top: 1rem;
}

.pb-cmnt-container {
  margin-top: 2rem;
}

.pb-cmnt-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #eeeeee;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.listing-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .listing-card {
    width: calc(50% - 20px);
  }
}

/* End of CSS for listing_page.html */

/* CSS for layout.html */

body {
  align-content: center;
  background-image: url('/static/auctions/images/MountainRoad.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
}

/* CSS for layout.html */

/* Container Styles */
.container {
  max-width: 1900px !important;
}

.heading-container {
  background-color: #537188;
  position: relative;
  padding: 3px;
}

/* Signed In or Out Position */
.signed-in {
  margin-left: 35px;
}

/* Logo Container Styles */
.logo-container {
  padding: 120px;
  align-items: center;
}

.no-padding-margin {
  padding: 0px;
  margin: 0px;
}

.nav-item {
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: center;
  padding: 0px;
  text-align: center;
  margin-top: 10px;
  background-color: #CBB279; /* Set the desired background color */
  padding: 10px; /* Adjust the padding as needed */
  margin-bottom: 10px; /* Adjust the margin as needed */
    
}

.nav-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-container li {
  display: inline-block;
  margin-right: 75px; /* Adjust the margin as needed */
}

.nav-container a {
  background-image: linear-gradient(
    to right,
    #EEEEEE,
    #EEEEEE 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-container a:before {
  content: '';
  background: #EEEEEE;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-container a:hover {
  background-position: 0;
 }

.nav-container a:hover::before {
  width:100%;
}

/* Social Icon Styles */
.social-icon {
  height: 32px;
  width: 32px;
  gap: 10px; /* Adjust the value as needed */
  margin-right: 5px;
  margin-left: 15px;
  margin-top: 5px;
}

/* Hover Styles for Social Icons */
.social-icon:hover {
  opacity: 0.5;
}

/* Hover Styles for Logo Image */
.logo-img:hover {
  opacity: 0.5;
}

/* Logo Image Styles */
.logo-img {
  width: 226px !important;
  margin-top: auto;
}

h1 {
  color: #EEEEEE;
}

/* Heading Styles */
h5 {
  color: #EEEEEE;
  background-color: #537188;
  width: 100%;
  padding: 1px;
  text-align: center;
}

/* Heading Styles */
h6 {
  text-align: center;
}

/* Form Styles */
form select {
  margin-right: 0px;
}

/* Form Styles */
form input[type="submit"] {
  margin-left: 5px;
}

.btn btn-primary text-center {
  margin-bottom: 25px;
}

/* Listing Info Styles */
.listing-info {
  flex: 1;
  margin-left: 10px;
}


.listing-card {
  width: calc(25% - 20px); /* Adjust the width as per your preference */
  margin-bottom: 20px;
  background-color: #EEEEEE;
  border-radius: 5px;
  padding: 10px;
}

.listing-card h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.listing-card p {
  margin-top: 5px;
  font-size: 14px;
  color: #888888;
}

.listing-card .btn {
  margin-top: 10px;
}

.listing-card .badge {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .listing-card {
    width: calc(50% - 20px);
  }
}
