{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    <link href="{% static 'auctions/custom.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="heading-container">
            <div class="float-right">
                <img src="{% static 'auctions/images/facebook.png' %}" class="social-icon">
                <img src="{% static 'auctions/images/instagram.png' %}" class="social-icon">
                <img src="{% static 'auctions/images/tiktok.png' %}" class="social-icon">
                <img src="{% static 'auctions/images/twitter-sign.png' %}" class="social-icon">
                <br>
                <div class="signed-in">
                {% if user.is_authenticated %}
                    <span class="signed-in">Signed in as <strong>{{ user.username }}</strong></span>
                {% else %}
                    Not signed in.
                {% endif %}
                </div>
            </div>
            <div class="banner">
                <div class="logo-container" style="background-image: url('/static/auctions/images/test4.png'); background-size: cover; background-position: 40% 46%;"></div>
            </div>
        </div>
        <div class="nav-container">
            <ul class="nav">
                <li>
                    <a href="{% url 'index' %}">
                        <img src="{% static 'auctions/images/1.png' %}" class="nav-icon">
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'create' %}">
                            <img src="{% static 'auctions/images/2.png' %}" class="nav-icon">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'display_watchlist' %}">
                            <img src="{% static 'auctions/images/3.png' %}" class="nav-icon">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <img src="{% static 'auctions/images/4.png' %}" class="nav-icon">
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">
                            <img src="{% static 'auctions/images/5.png' %}" class="nav-icon">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}">
                            <img src="{% static 'auctions/images/6.png' %}" class="nav-icon">
                        </a>
                    </li>
                {% endif %}
            </ul>
            <br>
        </div>
    </div> 
    {% block body %}
    {% endblock %}
</body>
</html>
